<nav class="app-sidebar" [attr.aria-label]="i18n.t('shell.sidebar.label')">
  <a class="app-sidebar__brand" routerLink="/radar">
    <app-midas-logo class="app-sidebar__logo" [size]="28" />
    <span class="app-sidebar__brand-name">{{ i18n.t('shell.brand') }}</span>
  </a>

  <ul class="app-sidebar__nav">
    @for (item of items; track item.labelKey) {
      <li>
        <a
          class="app-sidebar__link"
          [routerLink]="item.route"
          routerLinkActive="app-sidebar__link--active"
          [routerLinkActiveOptions]="{ exact: item.icon === 'radar' }"
          [attr.title]="i18n.t(item.labelKey)"
        >
          <span class="app-sidebar__icon" aria-hidden="true">
            @switch (item.icon) {
              @case ('radar') {
                <svg lucideRadar [size]="18"></svg>
              }
              @case ('news') {
                <svg lucideNewspaper [size]="18"></svg>
              }
              @case ('instruments') {
                <svg lucideLineChart [size]="18"></svg>
              }
              @case ('briefings') {
                <svg lucideFileText [size]="18"></svg>
              }
              @case ('alerts') {
                <svg lucideBell [size]="18"></svg>
              }
              @case ('scenarios') {
                <svg lucideFlaskConical [size]="18"></svg>
              }
              @case ('watchlists') {
                <svg lucideStar [size]="18"></svg>
              }
              @case ('settings') {
                <svg lucideSettings [size]="18"></svg>
              }
            }
          </span>
          <span class="app-sidebar__label">{{ i18n.t(item.labelKey) }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
